<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
</head>
<body>
    <h2>Lista de Pedidos</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>ID Usuario</th>
            <th>ID Producto</th>
            <th>Cantidad</th>
        </tr>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="${pedido.id}">1</td>
            <td th:text="${pedido.usuarioId}">3</td>
            <td th:text="${pedido.productoId}">5</td>
            <td th:text="${pedido.cantidad}">2</td>
        </tr>
    </table>
</body>
</html>
